.franchise23-invest{
  padding: 50px 0 97px;
  &__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    background: linear-gradient(102.72deg, #FF7B01 8.98%, #B41E8E 50.66%, #6F2C91 95.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0 0 32px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: -32px;
      background-image: url("../img/icons-sprite.svg#star-yellow");
      background-repeat: no-repeat;
      width: 22px;
      height: 28px;
    }
  }
  &__subtitle{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #252525;
    margin: 0 0 32px;
  }
  &__body{
    margin-bottom: 20px;
  }

  &__footer{
    background: linear-gradient(90.06deg, #6F2C91 0%, #B41E8E 100%);
    padding: 22px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer-item{
    margin-right: 23px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    &:last-of-type{
      margin-right: 0;
    }
    .text{
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }
    span{
      background: linear-gradient(93.54deg, #FD7F2B 0%, #FDB913 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  @include r(767){
    padding: 50px 0 0;
    &__title{
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      padding-top: 40px;
      margin-bottom: 30px;
      &:before {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &__subtitle{
      font-size: 16px;
      line-height: 19px;
      margin: 0 0 27px;
    }
    &__body{
      margin-bottom: 0;
    }
    &__footer{
      margin-top: -6px;
    }
    &__footer-item{
      margin-right: 10px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      .text{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FDB913;
      }
      span{

      }
    }
  }
}