.franchise23-economika{
  padding: 70px 0 58px;
  &__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    background: linear-gradient(102.72deg, #FF7B01 8.98%, #B41E8E 50.66%, #6F2C91 95.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0 0 64px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: -32px;
      background-image: url("../img/icons-sprite.svg#star-yellow");
      background-repeat: no-repeat;
      width: 22px;
      height: 28px;
    }
  }
  &__body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:47px 20px;
  }
  &__item{
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__figure{
    flex-shrink: 0;
    margin: 0;
  }
  &__name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #252525;
    span{
      font-weight: 400;
      display: block;
    }
  }
  @include r(767){
    padding: 49px 0 68px;
    &__title{
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      padding-top: 40px;
      margin-bottom: 30px;
      &:before {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &__body{
      flex-direction: column;
      max-width: 325px;
      margin: 0 auto;
      gap: 20px;
    }
    &__item{
      flex: 1 0 100%;
      max-width: 100%;
      display: flex;
      gap: 20px;
      align-items: center;
    }
    &__figure{
      max-width: 50px;
    }
    &__name{
      font-size: 14px;
      line-height: 17px;
    }
  }
}