.franchise23-video{
  &__name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #252525;
  }
  &__date{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B41E8E;
  }
  @include r(767){
    &__name{
      font-size: 14px;
      line-height: 17px;
    }
    &__date{
      font-size: 14px;
      line-height: 17px;
    }
  }
}