.franchise23-opening{
  background: linear-gradient(90.06deg, #6F2C91 0%, #B41E8E 100%);
  padding: 60px 0 64px;
  &__title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 0 0 60px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 8px;
      left: -32px;
      background-image: url("../img/icons-sprite.svg#star-white");
      background-repeat: no-repeat;
      width: 22px;
      height: 28px;
    }
  }
  &__body{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__item{
    flex: 1 0 calc(20% - 24px);
    max-width: calc(20% - 24px);

  }
  &__name{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FDB913;
    margin: 0 0 19px;
  }
  &__anons{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  &__footer{
    margin-top: 45px;
    display: flex;
  }
  @include r(767){
    &__title{
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      padding-top: 38px;
      margin: 0 0 55px;
      &:before{
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        width: 22px;
        height: 28px;
      }
    }
    &__item{
      flex: 1 0 100%;
      max-width: 100%;
      text-align: center;
    }
    &__name{
      margin: 0 0 9px;
      padding-top: 45px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        background-image: url("../img/icons-sprite.svg#arrow-label");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 39px;
        height: 45px;
      }
    }
    &__footer{
      display: none;
    }
  }
}