.franchise23-hero{
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 49px 0;
    gap: 20px;
  }
  &__form{
    flex: 1 0 30%;
    max-width: 356px;
  }
  &__content{
    flex: 1 0 calc(60% - 20px);
    max-width: calc(60% - 20px);
  }
  &__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 0 0 46px;
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      margin-bottom: 10px;
      margin-left: 15px;
      &:nth-child(2){
        margin-left: 30px;
      }
      &:nth-child(3){
        margin-left: 50px;
      }
      .icon{
        margin-right: 17px;
      }
    }

  }
  &__footer{
    background: linear-gradient(90.06deg, #6F2C91 0%, #B41E8E 100%);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 16px;
  }
  @include r(1023){
    &__title{
      font-size: 28px;
      line-height: 36px;
      margin: 0 0 46px;
    }
  }
  @include r(767){
    background-position: left;
    &__body{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__form{
      flex: 1 0 100%;
      order: 2;
    }
    &__content{
      order: 1;
      flex: 1 0 100%;
      max-width: 100%;
    }
    &__title{
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 0 0 22px;
    }
    &__list{
      max-width: 356px;
      margin: 0 auto;
      li{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 18px;
        position: relative;
        padding-left: 32px;
        &:nth-child(2){
          margin-left: 0;
        }
        &:nth-child(3){
          margin-left: 0;
        }
        .icon{
          position: absolute;
          left: 0;
          top: 0;
        }
      }

    }
    &__footer{
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      padding: 53px 0 34px;
    }
  }
}