.menu-mobile{
  position: fixed;
  top: 45px;
  left: -100%;
  width: 330px;
  height: calc(100vh - 45px);
  background-color: #fff;
  padding: 59px 68px;
  z-index: 100;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 20px 0 0;
  transition: left .3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.show{
    left: 0;
    transition: left .3s ease;
  }
  &__close{
    width: 53px;
    height: 45px;
    position: absolute;
    top: -45px;
    left: 0;
    background-color: #ffffff;
    background-image: url("../img/icons-sprite.svg#menu-close");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__scroll{
    overflow: auto;
  }

  &__phone{
    position: relative;
    background: #FFFFFF;
    padding: 0 0 0 34px;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6F2C91;
    display: block;
    text-decoration: none;
    &.show{
      display: block;
    }
    .phone{
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #B41E8E;
      display: block;
    }
    .icon{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}