<div id="contact" class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__contact">
                <div class="footer__title">Контакты</div>
                <ul class="footer__list">
                    <li><a href="tel:88002500025"><i class="icon icon-phone-white"></i> 8 800 25-000-25 <span class="small d-block">(звонок бесплатный)</span></a></li>
                    <li><a href="emailto:fr@galamart.ru"><i class="icon icon-email-white"></i> fr<span>@</span>galamart.ru</a></li>
                    <li><a href="t.me/franchisegalamart" target="_blank"><i class="icon icon-telegram-white"></i> <span>t.me/</span>franchisegalamart</a></li>
                    <li><a href="www.galamart.ru" target="_blank"><i class="icon icon-galamart-white"></i> <span>www.</span>galamart.ru</a></li>
                </ul>
            </div>
            <div class="footer__form">
                <form action="" class="feedback feedback--footer">
                    <div class="feedback__body">
                    <div class="feedback__title">Заявка на франшизу</div>
                    <div class="form-group">
                        <label for="FIO" class="form-label">Ваше имя</label>
                        <input class="form-control" type="text" id="FIO" name="FIO" placeholder="Ваше имя">
                    </div>
                    <div class="form-group">
                        <label for="EMAIL" class="form-label">Ваш телефон или e-mail</label>
                        <input class="form-control" type="text" id="EMAIL" name="EMAIL" placeholder="Телефон или e-mail">
                    </div>
                    <div class="form-group">
                        <label for="MESSAGE" class="form-label">Комментарий</label>
                        <textarea class="form-control" id="MESSAGE" name="MESSAGE" cols="30" rows="10"   placeholder="Напишите что-нибудь"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary">Перезвонить МНЕ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>