<header class="header">
    <div class="container">
        <div class="header__body">
            <div id="menuShow" class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <figure class="header__logo">
                <img class="img-fluid" src="./img/logo-galamart.svg" width="200" height="50" alt="">
            </figure>
            <div class="header__menu">
                <ul class="menu-top">
                    <li class="menu-top__item"><a class="menu-top__link active" href="#today">О нас</a></li>
                    <li class="menu-top__item"><a class="menu-top__link" href="#adventage">Преимущества</a></li>
                    <li class="menu-top__item"><a class="menu-top__link" href="#requirement">Требования</a></li>
                    <li class="menu-top__item"><a class="menu-top__link" href="#opening">Как открыть?</a></li>
                    <li class="menu-top__item"><a class="menu-top__link" href="#invest">Инвестиции</a></li>
                    <li class="menu-top__item"><a class="menu-top__link" href="#reviews">Отзывы</a></li>
                    <li class="menu-top__item"><a class="menu-top__link" href="#contact">Контакты</a></li>
                </ul>
            </div>
            <div id="js-show-phone" class="header__phone"><i class="icon icon-phone"></i></div>
            <a href="tel:88002500025" class="header__alert">
                <i class="icon icon-phone"></i>
                <span class="phone">8 800 25-000-25</span>
                <span>(звонок бесплатный)</span>
            </a>
        </div>
    </div>
</header>

<div class="menu-mobile">
    <div id="menuclose" class="menu-mobile__close"></div>
    <div class="menu-mobile__scroll">
    <ul class="menu-top">
        <li class="menu-top__item"><a class="menu-top__link active" href="#today">О нас</a></li>
        <li class="menu-top__item"><a class="menu-top__link" href="#adventage">Преимущества</a></li>
        <li class="menu-top__item"><a class="menu-top__link" href="#requirement">Требования</a></li>
        <li class="menu-top__item"><a class="menu-top__link" href="#opening">Как открыть?</a></li>
        <li class="menu-top__item"><a class="menu-top__link" href="#invest">Инвестиции</a></li>
        <li class="menu-top__item"><a class="menu-top__link" href="#reviews">Отзывы</a></li>
        <li class="menu-top__item"><a class="menu-top__link" href="#contact">Контакты</a></li>
    </ul>
    </div>
    <a href="tel:88002500025" class="menu-mobile__phone">
        <i class="icon icon-phone"></i>
        <span class="phone">8 800 25-000-25</span>
        <span>(звонок бесплатный)</span>
    </a>
</div>