<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <figure class="header__logo">
                <img class="img-fluid" src="./img/logo-galamart.svg" width="200" height="50" alt="">
            </figure>
            <ul class="header__menu menu-top">
                <li class="menu-top__item"><a class="menu-top__link active" href="#">О нас</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="#">Преимущества</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="#">Требования</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="#">Как открыть?</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="#">Инвестиции</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="#">Отзывы</a></li>
                <li class="menu-top__item"><a class="menu-top__link" href="#">Контакты</a></li>
            </ul>

            <div class="header__phone"><i class="icon icon-phone"></i></div>
        </div>
    </div>
</header>