@import "./partials/normalize";
@import "./partials/swiper-bundle";
@import "mixin";
@import "fonts";
@import "buttons";
@import "form";
@import "icon";
@import "table";
@import "text";
@import "alert";



* {
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #fff;
	font-family: "PT Sans", Tahoma, sans-serif;
}
a{
	text-decoration: none;
	transition: all .3s ease;
	&:hover{
		transition: all .3s ease;
	}
}
.wrp {
	overflow: hidden;
	position: relative;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1130px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.main{
}

.swiper-pagination{
	bottom: 0;
	.swiper-pagination-bullet{
		width: 10px;
		height: 10px;
		background-color: #C8B5D1;
		padding: 0;
		position: relative;
		&-active{
			background: linear-gradient(90.06deg, #6F2C91 0%, #B41E8E 100%);
		}
	}
}

.swiper-button-prev,
.swiper-button-next{
	background-color: transparent;
	background-image: url("../img/icons-sprite.svg#arrow-slider");
	background-size: 40px 72px;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 72px;
	margin-top: calc(0px - 72px / 2);
	&:after{
		display: none;
	}
}
.swiper-button-prev{
	transform: rotate(-180deg);
	left: 0;
}

.swiper-button-next{
	right: 0;
}

.embed-responsive{
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	&:before{
		display: block;
		content: "";
	}
	&.embed-responsive-21by9{
		&:before{
			padding-top: 42.857143%;
		}
	}
	&.embed-responsive-16by9{
		&:before {
			padding-top: 56.25%;
		}
	}
	&.embed-responsive-9by16{
		&:before {
			padding-top: 109%;
		}
	}
	&.embed-responsive-4by3{
		&:before{
			padding-top: 75%;
		}
	}
	&.embed-responsive-1by1{
		&:before{
			padding-top: 100%;
		}
	}
	.embed-responsive-item,
	embed,
	iframe,
	object,
	video{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}



@import "componets/header";
@import "componets/menu-top";
@import "componets/feedback";
@import "componets/footer";
@import "componets/franchise23-hero";
@import "componets/franchise23-today";
@import "componets/num-count";
@import "componets/franchise23-adventage";
@import "componets/franchise23-economika";
@import "componets/franchise23-requirement";
@import "componets/franchise23-requirement-list";
@import "componets/franchise23-opening";
@import "componets/franchise23-invest";
@import "componets/franchise23-table";
@import "componets/franchise23-assort";
@import "componets/franchise23-activity";
@import "componets/franchise23-market";
@import "componets/franchise23-work";
@import "componets/franchise23-reviews";
@import "componets/franchise23-video";







