.icon {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.icon-arrow-slider {
    background-image: url("../img/icons-sprite.svg#arrow-slider");
    width: 40px;
    height: 72px;
}
.icon-arrow-slider-disabled {
    background-image: url("../img/icons-sprite.svg#arrow-slider-disabled");
    width: 40px;
    height: 72px;
}

.icon-download-purple {
    background-image: url("../img/icons-sprite.svg#download-purple");
    width: 48px;
    height: 60px;
}
.icon-download-white{
    background-image: url("../img/icons-sprite.svg#download-white");
    width: 48px;
    height: 60px;
}

.icon-email-white{
    background-image: url("../img/icons-sprite.svg#email-white");
    width: 30px;
    height: 24px;
}
.icon-equipment{
    background-image: url("../img/icons-sprite.svg#equipment");
    width: 30px;
    height: 30px;
}

.icon-galamart-white{
    background-image: url("../img/icons-sprite.svg#galamart-white");
    width: 29px;
    height: 34px;
}


.icon-layout{
    background-image: url("../img/icons-sprite.svg#layout");
    width: 26px;
    height: 30px;
}

.icon-phone{
    background-image: url("../img/icons-sprite.svg#phone");
    width: 23px;
    height: 23px;
}

.icon-phone-white{
    background-image: url("../img/icons-sprite.svg#phone-white");
    width: 30px;
    height: 32px;
}

.icon-signboard{
    background-image: url("../img/icons-sprite.svg#signboard");
    width: 28px;
    height: 27px;
}

.icon-square{
    background-image: url("../img/icons-sprite.svg#square");
    width: 26px;
    height: 26px;
}

.icon-star-white{
    background-image: url("../img/icons-sprite.svg#star-white");
    width: 22px;
    height: 28px;
}

.icon-star-yellow{
    background-image: url("../img/icons-sprite.svg#star-yellow");
    width: 22px;
    height: 28px;
}

.icon-telegram-white{
    background-image: url("../img/icons-sprite.svg#telegram-white");
    width: 22px;
    height: 28px;
}

.icon-arrow-label{
    background-image: url("../img/icons-sprite.svg#arrow-label");
    width: 39px;
    height: 33px;
}

.icon-play{
    background-image: url("../img/icons-sprite.svg#play");
    width: 42px;
    height: 29px;
}


